:host {
	--sender--color: #24478f;
}

.broadcast-label {
	writing-mode: vertical-lr;
}

.broadcast-checkbox {
    margin-top: 5px;
}

.uname-field {
	max-width: min-content;
}

.room-id {
	color: var(--sender--color);
}

.msg {
	border-radius: 10px;	
}

.msg-send-btn {
	background: transparent;
    border: 1px solid;
}

.msg-send-text {
	flex: auto;
    border: 1px solid;

}

.msg-send-text-block {
	display: flex;
}

.msg-source {
	color: var(--sender--color);
}

.msg-recieved {
	color: black;
	width: fit-content;
}

.msg-bubble {
	padding: 3px;
	margin: 2px;
	border-radius: 10px;
}

.msg-bubble:focus-visible {
	outline: none;
}

.broadcast {
	padding: 2px;
	font-size: 0.7rem;
	color: cadetblue;
}

.chat-container {
	width: 100%;
}
